.juiacc-header>a:hover, .juiacc-header>a:active { text-decoration: none !important; }

.juiacc-compact .ui-accordion-header { margin: -1px 0 0 !important; }
.juiacc-compact .ui-accordion-header>a { padding: 0 0 0 2.2em !important; }
.juiacc-compact .juiacc-content { font-size: 0.9em; }

.juiacc-content.jui-fillspace { padding: 1px 0 0 32px !important; }
.juiacc-sidebar .juiacc-content.jui-fillspace { padding: 1px 0 0 15px !important; }

